*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
   
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../PEREZ/images/header.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
	min-height: 100px;
}
.header b{
	margin-right: 580px;
	color: azure;
}
ul{
	float:right;
	list-style-type: none;
	margin-top: 30px;
	margin-right:90px ;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: #C8D5B9;
	color: #000;
}

ul li.active a{
background-color:#fff;
	color: #000;

}

.main{
	max-width: 1200px;
	margin: auto;
}

.main ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,45,117);
	margin-top: 12px;
	margin-left: -8px;
}

.main ul li:hover
{
	display: block;
	margin:6px;

}
.main ul li:hover
{
	width: 75px;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: left;
	border-radius: 0;
	
}

.main ul li:hover 
{
	border-bottom: none;
}



/*divider*/
hr {
    border: 2px solid #68B0AB;
}

/*title banner*/
.banner {
    background-color: #68B0AB;
    color: #e7e8c8;
    padding: 15px;
    text-align: center;
  }
  
  .banner h2 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 10px;
  }

/*intro*/
.intro_text{
    padding: 8px;
    display: flex;
    align-items: right;
    justify-content: right;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    border: 2px solid #8FC0A9;
}

p {
    padding: 2%;
    color: black;
    border: 2px solid #8FC0A9;
    border-radius: .25em;
  }

/* intro img*/ 
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
    padding-left: 40px;
  }

/*destination*/
.destination_text p{
    padding: 8px;
    display: flex;
    align-items: right;
    justify-content: right;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    border: 2px solid #8FC0A9;
}

.bg-light {
    background-color: #f5eacac1;
  }
  
  .p-5 {
    padding: 3rem;
    
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
/*culture*/
.container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .item1 {
    text-align: center;
    padding: 10px;
  }
  
  .item1 img {
    width: 100%;
    height: auto;
  }
  
  .item1 p {
    font-size: 14px;
    color: #333;
  }

/*food*/
.container2 {
    display: grid;
    gap: 0;
  }
  
  .item2 {
    flex: 1;
    text-align: center;
    padding: 40px;
  }
  
  .item2 img {
    max-width: 40%;
    height: auto;
  }
  
  .item2 p {
    font-size: 14px;
    color: #333;

  }

/*show more*/
/*show more*/
.read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
  }
  
  .read-more p {
    padding: 15%;
    color: black;
    border: 2px solid #8FC0A9;
    border-radius: .25em;
  }
  
  .read-more-image {
    width: 50%;
    margin-right: 2%;
    max-width: 300px
  }
  
  .read-more {
    display: flex;
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    align-items: center;
  }
  
  
  